<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/createDojo">
        <!-- form stuff -->
    </form>

    <form action="/createNinja">
        <!-- form stuff -->
    </form>

    <h1>All the Dojos and Ninjas</h1>

    <h3>Ninjas at the Painting Dojo</h3>
    <ul>
        <li>Leonardo Da Vinci</li>
        <li>Kermit the Frog</li>
    </ul>

    <h3>Ninjas at the San Jose Dojo</h3>
    <ul>
        <li>Sadie Flick</li>
        <li>Brendan Stanton</li>
    </ul>

</body>

</html>